[Desktop Entry]
Version=1.0
Name=Isag System Activity Grapher
Comment=Interactive System Activity Grapher for sysstat
Exec=isag
Type=Application
Categories=System;Monitor;
Keywords=Monitor;System;Process;CPU;Memory;History;Usage;Statistics
